* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

#wrap {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1060px;
}

.header_above {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f6f6f6;
}
.header_above .inner {
  width: 1060px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_above .header-topleft > ul {
  display: flex;
  align-items: center;
  line-height: 39px;
}
.header_above .header-topleft > ul li {
  font-size: 12px;
}
.header_above .header-topleft > ul a {
  margin: 10px;
  color: #80888a;
}
.header_above .header-topright > ul {
  display: flex;
  align-items: center;
  line-height: 39px;
}
.header_above .header-topright > ul li {
  font-size: 12px;
}
.header_above .header-topright > ul a {
  margin: 10px;
  color: #80888a;
}

.header_center {
  width: 100%;
  height: 150px;
}
.header_center .inner {
  display: flex;
}

.biginput {
  position: relative;
}
.biginput .search-icon {
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 19px;
  cursor: pointer;
}
.biginput .header-input {
  width: 581px;
  height: 44px;
  border: 1.5px solid #b5b4b6;
  border-radius: 8px;
  outline: none;
  padding-right: 40px;
  padding-left: 10px;
}
.biginput .search-ul {
  display: flex;
}
.biginput .search-ul a {
  font-size: 12px;
  color: #80888a;
}
.biginput .search-ul .search-flex {
  display: flex;
}

.searchbook {
  width: 220px;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
.searchbook img {
  width: 65px;
  height: 95px;
}
.searchbook .desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header_nav {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}

.nav-category {
  width: 100%;
  height: 50px;
  background-color: darkgreen;
}

.slider {
  width: 100%;
  height: 450px;
  background-color: gold;
}

.section-shorts {
  width: 100%;
  height: 183px;
  background-color: bisque;
}

.section-todaybook {
  width: 100%;
  height: 442px;
  background-color: coral;
}

.section-bestbook {
  width: 100%;
  height: 434px;
  background-color: cadetblue;
}

.section-newbook {
  width: 100%;
  height: 554px;
  background-color: lightblue;
}

.section-promotion {
  width: 100%;
  height: 120px;
  background-color: navy;
}

.section-popular {
  width: 100%;
  height: 520px;
  background-color: gold;
}

.section-recent {
  width: 100%;
  height: 600px;
  background-color: cornflowerblue;
}

.section-MD {
  width: 100%;
  height: 430px;
  background-color: forestgreen;
}

.favorite-book {
  width: 100%;
  height: 490px;
  background-color: brown;
}

.section-goodreview {
  width: 100%;
  height: 572px;
  background-color: aquamarine;
}

.notice {
  width: 100%;
  height: 55px;
  background-color: peru;
}

footer {
  width: 100%;
  height: 463px;
  background-color: grey;
}