@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

#wrap {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1060px;
}

header .scroll {
  width: 14px;
  height: 15px;
  color: #80888a;
  cursor: pointer;
  border-radius: 30px;
}

.header_above {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f6f6f6;
}
.header_above .inner {
  width: 1060px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_above .header-topleft > ul {
  display: flex;
  align-items: center;
  line-height: 39px;
}
.header_above .header-topleft > ul li {
  font-size: 12px;
}
.header_above .header-topleft > ul a {
  margin: 10px;
  color: #80888a;
}
.header_above .header-topright > ul {
  display: flex;
  align-items: center;
  line-height: 39px;
}
.header_above .header-topright > ul li {
  font-size: 12px;
}
.header_above .header-topright > ul a {
  margin: 10px;
  color: #80888a;
}

.header_center {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.header_center .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biginput {
  position: relative;
  padding-top: 40px;
}
.biginput .search-icon {
  position: absolute;
  top: 53px;
  right: 13px;
  font-size: 19px;
  cursor: pointer;
}
.biginput .header-input {
  width: 581px;
  height: 44px;
  border: 1.5px solid #b5b4b6;
  border-radius: 8px;
  outline: none;
  padding-right: 40px;
  padding-left: 10px;
}
.biginput .search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.biginput .search-flex .search-ul {
  display: flex;
}
.biginput .search-flex .search-ul a {
  font-size: 12px;
  color: #80888a;
}
.biginput .search-flex .search-ul li:not(:last-child)::after {
  color: #80888a;
  content: "|";
  opacity: 0.2;
  margin: 10px;
  font-size: 10px;
}

.searchbook-container {
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-end;
  padding-top: 20px;
}

.searchbook {
  width: 220px;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
.searchbook img {
  width: 65px;
  height: 95px;
}
.searchbook .text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  width: 155px;
}
.searchbook .text-area p,
.searchbook .text-area h6 {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #80888a;
}
.searchbook .text-area h5 {
  margin-left: 100px;
  color: #80888a;
  background-color: #eaeded;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.header_nav {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
  border-bottom: solid 1px #fff;
}
.header_nav img {
  width: 25px;
  height: 25px;
}

.nav-category {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-category a {
  color: #fff;
}
.nav-category .nav3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 50px;
  cursor: pointer;
}
.nav-category .nav3 li {
  margin: 10px;
}
.nav-category .nav3:hover {
  background-color: #333333;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
.nav-category .nav1 {
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-category .nav2 {
  width: 530px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-category .nav2 a {
  font-size: 14px;
}
.nav-category .nav2 li:not(:last-child)::after {
  content: "|";
  color: #fff;
  margin: 10px;
  font-size: 12px;
}

.slider {
  width: 100%;
  height: 350px;
  background-color: cornflowerblue;
  position: relative;
}
.slider body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.slider .swiper-button-next {
  color: #fff;
  left: 66.3%;
  background-color: #b5b4b6;
  opacity: 0.7;
}
.slider .swiper-button-prev {
  color: #fff;
  left: 32.4%;
  background-color: #b5b4b6;
  opacity: 0.7;
}
.slider .swiper {
  width: 100%;
  height: 500px;
  position: absolute;
}
.slider .swiper-slide img {
  width: 100%;
  height: 430px;
  border-radius: 20px;
}
.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;
  border-radius: 20px;
  margin-top: 50px;
}
.slider .append-buttons {
  text-align: center;
  margin-top: 20px;
}
.slider .append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.slider .sub {
  height: 450px;
  background-color: #fff;
  display: flex;
  display: none;
  position: absolute;
  z-index: 1000;
}
.slider .kbook {
  width: 160px;
  height: 450px;
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.slider .kbook .kkbook li {
  padding: 13px;
}
.slider .kbook .kkbook li:hover {
  background-color: #fff;
}
.slider .kbook .kkbook li:hover::after {
  content: "⟩";
  float: right;
  color: #80888a;
}
.slider .kbook .survice {
  display: flex;
  background-color: #eaeded;
  width: 160px;
  height: 66.5px;
  padding: 13px;
  line-height: 40px;
}
.slider .kbook2 {
  display: flex;
  flex-flow: column;
  background-color: #fff;
}
.slider .kbook2 .kkbook2 {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 400px;
  font-size: 13px;
  padding-top: 10px;
}
.slider .kbook2 .kkbook2 li {
  padding: 3px;
}
.slider .kbook2 .kkbook2 a {
  color: #80888a;
}
.slider .kbook2 .kkbook3 {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 400px;
  font-size: 13px;
  padding-top: 10px;
  display: none;
  justify-content: space-around;
  padding-right: 100px;
}
.slider .kbook2 .kkbook3 li {
  padding: 3px;
}
.slider .kbook2 .kkbook3 a {
  color: #80888a;
}
.slider .kbook2 .kkbook4 {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 400px;
  font-size: 13px;
  padding-top: 10px;
  font-size: 12px;
  display: none;
}
.slider .kbook2 .kkbook4 li {
  padding: 3px;
}
.slider .kbook2 .kkbook4 a {
  color: #80888a;
}
.slider .bigbook {
  width: 400px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-flow: wrap;
}
.slider .bigbook img {
  width: 50%;
  height: 50%;
}
.slider .survice2 {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f6f6;
}
.slider .survice2 a {
  color: #80888a;
}
.slider .survice2 li {
  font-size: 13px;
}

.section-shorts {
  width: 100%;
  height: 183px;
  position: relative;
}
.section-shorts :nth-of-type(1) {
  left: 150px;
  top: 180px;
}
.section-shorts :nth-of-type(2) {
  left: 150px;
  top: 380px;
}
.section-shorts .shortsbox {
  width: 130px;
  height: 184px;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 0px 3px 3px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}
.section-shorts .shortsbox img {
  width: 72px;
  height: 104px;
}
.section-shorts .shortsbox p {
  background-color: tomato;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  font-size: 11px;
}
.section-shorts .shortsbox h6 {
  color: #80888a;
}

.section-todaybook {
  width: 100%;
  height: 230px;
}
.section-todaybook .container {
  height: 180px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.section-todaybook .section-todaybook img {
  width: 11px;
  height: 11px;
  border-radius: 100%;
}
.section-todaybook .todayheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-todaybook .todaymini {
  width: 100px;
  height: 40px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.section-todaybook .todaymini img {
  width: 11px;
  height: 11px;
  border-radius: 100%;
}
.section-todaybook .todaymini a {
  color: #646465;
}
.section-todaybook .todaytab p {
  color: #80888a;
  font-size: 14px;
}
.section-todaybook .todayicon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-todaybook .todayicon .todayicon-box {
  width: 64px;
  height: 64px;
  background-color: #f6f6f6;
  border-radius: 50%;
  text-align: center;
}
.section-todaybook .todayicon .todayicon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-todaybook2 {
  width: 100%;
  height: 434px;
  display: flex;
  line-height: 50px;
}
.section-todaybook2 h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.section-todaybook2 img {
  width: 25px;
}
.section-todaybook2 .todaytop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-todaybook2 .todaytop2 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.section-todaybook2 .todaytop2 h2 {
  margin-left: 0px;
}

.todaybigbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 280px;
  width: 100%;
  margin-top: 30px;
}
.todaybigbox :hover {
  cursor: pointer;
}
.todaybigbox .todaybox {
  width: 190px;
  height: 280px;
  display: flex;
  flex-flow: column;
}
.todaybigbox .todaybox img {
  width: 100%;
  height: 100%;
}
.todaybigbox .todaybox h5 {
  height: 20px;
  font-size: 14.8px;
  font-weight: 500;
  text-align: center;
}
.todaybigbox .todaybox h6 {
  height: 20px;
  font-size: 13px;
  color: #80888a;
  text-align: center;
}
.todaybigbox .todaybox p {
  font-size: 12px;
}

.section-bestbook {
  width: 100%;
  height: 500px;
  margin-top: 70px;
}
.section-bestbook .besthead {
  display: flex;
  justify-content: space-between;
  color: #3d3c3f;
}
.section-bestbook .besthead img {
  width: 25px;
}
.section-bestbook .besthead2 {
  display: flex;
}
.section-bestbook .besthead2 h2 {
  font-weight: 500;
  color: #333;
}
.section-bestbook .besthead2 .date {
  padding: 10px;
}
.section-bestbook .besthead-li {
  width: 100%;
  height: 70px;
  margin-top: 20px;
}
.section-bestbook .besthead-li li {
  font-size: 14px;
  padding: 12px;
  background-color: #f6f6f6;
  display: inline;
  border-radius: 20px;
  margin: 3px;
}
.section-bestbook .besthead-li li a {
  color: #80888a;
}
.section-bestbook .besthead-li .besthead-lii {
  background-color: #4aaf70;
}
.section-bestbook .besthead-li .besthead-lii a {
  color: #fff;
}
.section-bestbook .bestbox {
  width: 100%;
  height: 320px;
  background-color: #4aaf70;
}
.section-bestbook .bestbox html,
.section-bestbook .bestbox body {
  position: relative;
  height: 100%;
}
.section-bestbook .bestbox body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.section-bestbook .bestbox .swiper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
}
.section-bestbook .bestbox .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.section-bestbook .bestbox .textbox {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.section-bestbook .bestbox .textbox h5 {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-bestbook .bestbox .textbox h6 {
  color: #fff;
  font-size: 18px;
}
.section-bestbook .bestbox .textbox p {
  color: #fff;
  font-size: 12px;
  width: 160px;
}
.section-bestbook .bestbox .swiper-slide img {
  display: block;
  width: 60%;
  height: 90%;
  text-align: center;
}

.section-promotion {
  width: 100%;
  height: 120px;
}

.section-popular {
  width: 100%;
  height: 520px;
}
.section-popular .hothead {
  display: flex;
  justify-content: space-between;
  display: flex;
}
.section-popular .hothead h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.section-popular .hothead img {
  width: 25px;
}
.section-popular .hothead-li {
  margin-top: 20px;
}
.section-popular .hothead-li li {
  font-size: 14px;
  padding: 12px;
  background-color: #f6f6f6;
  display: inline;
  border-radius: 20px;
  margin: 3px;
}
.section-popular .hothead-li li a {
  color: #80888a;
}
.section-popular .hothead-li a {
  font-size: 12px;
}
.section-popular .hothead-li .hot-lii {
  background-color: #4aaf70;
}
.section-popular .hothead-li .hot-lii a {
  color: #fff;
}
.section-popular .hot-slide {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.section-popular .hot-slide html,
.section-popular .hot-slide body {
  position: relative;
  height: 100%;
}
.section-popular .hot-slide body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.section-popular .hot-slide .swiper {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.section-popular .hot-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-flow: column;
  cursor: pointer;
  align-items: center;
}
.section-popular .hot-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 70%;
  border: solid 1px #b5b4b6;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-popular .hotbox h5 {
  color: tomato;
  padding: 5px;
  font-weight: 400;
}
.section-popular .hotbox h6 {
  color: rgba(48, 48, 48, 0.6);
}
.section-popular p {
  font-size: 12px;
}

.naver {
  width: 100%;
  height: 120px;
  background-color: #222222;
  margin-top: 70px;
}
.naver img {
  width: 100%;
  height: 100%;
}

.section-recent {
  width: 100%;
  height: 438px;
  margin-top: 70px;
}
.section-recent .recent-head {
  display: flex;
  align-items: center;
  display: flex;
}
.section-recent .recent-head h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.section-recent .recent-head img {
  width: 25px;
}
.section-recent .recent-book {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.section-recent .recent-book .recent-bookbox {
  width: 192px;
  height: 290px;
}
.section-recent .recent-book img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-recent .recent-book h5 {
  font-weight: 500;
  margin: 5px 0 5px 0;
  text-align: center;
}
.section-recent .recent-book h6 {
  color: #80888a;
  font-size: 13px;
  text-align: center;
}
.section-recent .recent-book p {
  font-size: 12px;
}

.section-up {
  width: 100%;
  height: 500px;
  margin-top: 70px;
}
.section-up .up-head {
  display: flex;
  display: flex;
}
.section-up .up-head h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.section-up .up-head img {
  width: 25px;
}
.section-up .up-slide {
  width: 100%;
  height: 390px;
  margin-top: 30px;
  cursor: pointer;
}
.section-up .up-slide html,
.section-up .up-slide body {
  position: relative;
  height: 100%;
}
.section-up .up-slide body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.section-up .up-slide .swiper {
  width: 100%;
  height: 100%;
}
.section-up .up-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}
.section-up .up-slide .swiper-slide h5 {
  font-weight: 500;
  margin: 5px 0 5px 0;
}
.section-up .up-slide .swiper-slide h6 {
  color: #80888a;
  font-size: 13px;
}
.section-up .up-slide .swiper-slide p {
  font-size: 12px;
}
.section-up .up-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotbook {
  width: 100%;
  height: 430px;
}
.hotbook .hotbook-head {
  display: flex;
  margin-bottom: 20px;
}
.hotbook .hotbook-head h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.hotbook .hotbook-head img {
  width: 25px;
}
.hotbook .hotbook-slide {
  width: 100%;
  height: 390px;
}
.hotbook .hotbook-slide html,
.hotbook .hotbook-slide body {
  position: relative;
  height: 100%;
}
.hotbook .hotbook-slide body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.hotbook .hotbook-slide .swiper {
  width: 100%;
  height: 100%;
}
.hotbook .hotbook-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  cursor: pointer;
}
.hotbook .hotbook-slide .swiper-slide h5 {
  font-weight: 500;
  margin: 5px 0 5px 0;
}
.hotbook .hotbook-slide .swiper-slide h6 {
  color: #80888a;
  font-size: 13px;
}
.hotbook .hotbook-slide .swiper-slide p {
  font-size: 12px;
}
.hotbook .hotbook-slide .swiper-slide img {
  display: block;
  width: 188px;
  height: 273px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bar {
  width: 100%;
  height: 120px;
  background-color: #FFACCF;
  margin-top: 70px;
}
.bar img {
  width: 100%;
  height: 100%;
}

.how-book {
  width: 100%;
  height: 516px;
  background-color: brown;
}
.how-book .howbook-head {
  display: flex;
}
.how-book .howbook-head h2 {
  font-weight: 500;
  margin-left: 10px;
  color: #333;
}
.how-book .howbook-head img {
  width: 25px;
}
.how-book html,
.how-book body {
  position: relative;
  height: 100%;
}
.how-book body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.how-book .swiper {
  width: 100%;
  height: 100%;
}
.how-book .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 406px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.how-book .swiper-slide .howbox {
  width: 600px;
  height: 166px;
  background-color: #007aff;
}
.how-book .swiper-slide .howbox h3 {
  color: #80888a;
}
.how-book .swiper-slide .howbox .howflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  padding: 10px;
}
.how-book .swiper-slide .howbox .howflex h2 {
  font-size: 18px;
  font-weight: 500;
}
.how-book .swiper-slide .howbox .logobox {
  width: 100%;
}
.how-book .swiper-slide .howbox .logobox img {
  width: 28px;
  border-radius: 50%;
}
@media (max-width: 760px) {
  .how-book .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  .how-book .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

.section-goodreview {
  width: 100%;
  height: 572px;
  background-color: aquamarine;
}

.notice {
  width: 100%;
  height: 55px;
  background-color: #fff;
  padding-top: 15px;
  border-top: solid 2px #eaeded;
  overflow: hidden;
}
.notice .notice-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice .notice-center .gong2 {
  width: 504px;
  height: 29px;
  overflow: hidden;
}
.notice .notice-center .gong2 a {
  color: #80888a;
}
.notice .notice-center .gong3 {
  font-size: 20px;
}
.notice .notice-center .gong3 a {
  color: #80888a;
}
.notice .notice-center .gong4 {
  width: 600px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

footer {
  padding: 40px 0 38px;
  width: 100%;
  height: 463px;
  background-color: #f9f9f9;
}
footer .footerhead {
  display: flex;
  justify-content: space-between;
  height: 209px;
}
footer .FAQ {
  width: 330px;
  display: flex;
  flex-flow: column;
  gap: 5px;
}
footer .FAQ h2 {
  font-size: 32px;
}
footer .FAQ p {
  font-size: 13px;
  color: rgba(48, 48, 48, 0.6);
}
footer .FAQ .footerflex {
  display: flex;
  gap: 30px;
}
footer .FAQ .footerflex a {
  color: rgba(48, 48, 48, 0.6);
}
footer .FAQ .footerbox1 {
  margin-top: 10px;
}
footer .FAQ .footerbox1 .footerbox {
  padding: 8px 16px 8px 20px;
  background-color: #eeeeee;
  font-size: 13px;
}
footer .FAQ .footerbox1 .footerbox .footerbox- {
  color: #80888a;
  margin-left: 5px;
  font-size: 17px;
}
footer .footer-menu {
  display: flex;
  text-align: left;
  gap: 35px;
  height: 209px;
}
footer .footer-menu li a {
  margin-bottom: 20px;
  font-size: 16px;
}
footer .footer-menu .footer-sub li a {
  font-size: 13px;
  color: rgba(48, 48, 48, 0.8);
}
footer .footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  border-top: 2px solid #eaeded;
}
footer .footer-bottom .footer-center {
  height: 160px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
footer .footer-bottom .footer-center .footer-center-head {
  display: flex;
  color: rgba(48, 48, 48, 0.8);
  font-weight: 500;
}
footer .footer-bottom .footer-center .footer-center-head li:not(:last-child)::after {
  content: "|";
  color: #80888a;
  margin: 10px;
  font-size: 13px;
  opacity: 0.7;
}
footer .footer-bottom .footer-center .footer-center-middle {
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  color: rgba(48, 48, 48, 0.8);
}
footer .footer-bottom .footer-center .footer-center-middle li:not(:last-child)::after {
  content: "|";
  color: #80888a;
  margin: 10px;
  font-size: 13px;
  opacity: 0.7;
}
footer .footer-bottom .footer-center .footer-center-bottom {
  color: rgba(48, 48, 48, 0.8);
  font-size: 13px;
}