@charset "utf-8";

@import "reset";

$w: 1060px;
$headcolor: #80888a;

@mixin topnav {
    display: flex;

    li {
        font-size: 12px;
    }

    a {
        margin: 10px;
        color: $headcolor;
    }

    align-items: center;
    line-height: 39px
}

@mixin kkbook-style {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    font-size: 13px;
    padding-top: 10px;

    li {
        padding: 3px;
    }

    a {
        color: $headcolor;
    }
}

@mixin categoryhead {


    li {

        a {
            color: $headcolor;
        }

        font-size: 14px;
        padding: 12px;
        background-color: #f6f6f6;
        display: inline;
        border-radius: 20px;
        margin: 3px;
    }
}

@mixin categoryhead2 {
    background-color: #4aaf70;

    a {
        color: #fff;
    }
}

// 헤더 
header {
    .scroll {
        width: 14px;
        height: 15px;
        color: $headcolor;
        cursor: pointer;

        border-radius: 30px;

    }
}

.header_above {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f6f6f6;

    .inner {
        width: $w;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    ;



    .header-topleft>ul {
        @include topnav
    }

    ;

    .header-topright>ul {
        @include topnav
    }


}

// 헤더 인풋창쪽
.header_center {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.biginput {
    position: relative;
    padding-top: 40px;

    .search-icon {
        position: absolute;
        top: 53px;
        right: 13px;
        font-size: 19px;
        cursor: pointer;
    }

    .header-input {
        width: 581px;
        height: 44px;
        border: 1.5px solid #b5b4b6;
        border-radius: 8px;
        outline: none;
        padding-right: 40px;
        padding-left: 10px;

    }

    .search-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-ul {
            display: flex;

            a {
                font-size: 12px;
                color: $headcolor;
            }

            li:not(:last-child)::after {
                color: $headcolor;
                content: "|";
                opacity: 0.2;
                margin: 10px;
                font-size: 10px;
            }
        }


    }

}

// 도서 작은 api
.searchbook-container {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
    padding-top: 20px;
}

.searchbook {
    width: 220px;
    height: 95px;
    display: flex;
    justify-content: space-between;

    img {
        width: 65px;
        height: 95px;
    }

    .text-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 10px;
        width: 155px;

        p,
        h6 {
            margin: 0;
            font-weight: bold;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; // 한 줄만
            color: $headcolor;
        }

        h5 {
            margin-left: 100px;
            color: $headcolor;
            background-color: #eaeded;
            width: 25px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 15px;
        }
    }

}











// 헤더 네비
.header_nav {
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    border-bottom: solid 1px #fff;

    img {
        width: 25px;
        height: 25px;
    }
}

.nav-category {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
    }

    .nav3 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 160px;
        height: 50px;
        cursor: pointer;

        li {
            margin: 10px;
        }


        &:hover {
            background-color: #333333;
            border-radius: 10px 10px 0 0;
            opacity: 0.7;
        }
    }

    .nav1 {
        width: 530px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav2 {
        width: 530px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            font-size: 14px;
        }

    }

    .nav2 li:not(:last-child)::after {
        content: "|";
        color: #fff;
        margin: 10px;
        font-size: 12px;

    }


}






.slider {
    width: 100%;
    height: 350px;
    background-color: cornflowerblue;
    position: relative;


    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-button-next {
        color: #fff;
        left: 66.3%;
        background-color: #b5b4b6;
        opacity: 0.7;
    }

    .swiper-button-prev {
        color: #fff;
        left: 32.4%;
        background-color: #b5b4b6;
        opacity: 0.7;
    }

    .swiper {
        width: 100%;
        height: 500px;
        position: absolute;
    }

    .swiper-slide img {

        width: 100%;
        height: 430px;

        border-radius: 20px;
    }




    // }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 425px;
        border-radius: 20px;
        margin-top: 50px;

    }

    .append-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .append-buttons a {
        display: inline-block;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
    }




    .sub {

        height: 450px;
        background-color: #fff;
        display: flex;
        display: none;
        position: absolute;
        z-index: 1000;



    }

    .kbook {
        width: 160px;
        height: 450px;
        background-color: #f6f6f6;

        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .kkbook {
            li {
                padding: 13px;
            }

            li:hover {
                background-color: #fff;
            }

            li:hover::after {
                content: "⟩";
                float: right;
                color: $headcolor;

            }
        }

        .survice {
            display: flex;
            background-color: #eaeded;
            width: 160px;
            height: 66.5px;
            padding: 13px;
            line-height: 40px;

        }
    }

    .kbook2 {
        display: flex;
        flex-flow: column;


        background-color: #fff;

        .kkbook2 {
            @include kkbook-style();

        }

        .kkbook3 {
            @include kkbook-style();
            display: none;
            justify-content: space-around;
            padding-right: 100px
        }

        .kkbook4 {
            @include kkbook-style();
            font-size: 12px;
            display: none
        }
    }

    .bigbook {
        width: 400px;
        height: auto;
        background-color: #fff;

        img {
            width: 50%;
            height: 50%;
        }

        display: flex;
        flex-flow: wrap;

    }

    .survice2 {
        width: 100%;
        height: 70px;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f6f6f6;

        a {
            color: $headcolor;
        }

        li {
            font-size: 13px;
        }

    }


}

.section-shorts {
    width: 100%;
    height: 183px;
    position: relative;

    :nth-of-type(1) {
        left: 150px;
        top: 180px;
    }

    :nth-of-type(2) {
        left: 150px;
        top: 380px;
    }

    .shortsbox {
        width: 130px;
        height: 184px;
        background-color: #fff;

        img {
            width: 72px;
            height: 104px;
        }

        text-align: center;
        margin: 10px;
        box-shadow: 1px 0px 3px 3px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            background-color: tomato;
            color: #fff;
            border-radius: 5px;
            width: 80px;
            font-size: 11px;
        }

        h6 {
            color: $headcolor;
        }

        position: absolute;



    }

}

.section-todaybook {
    width: 100%;
    height: 230px;

    .container {
        height: 180px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    .section-todaybook img {
        width: 11px;
        height: 11px;
        border-radius: 100%;
    }



    .todayheader {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    .todaymini {
        width: 100px;
        height: 40px;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        img {
            width: 11px;
            height: 11px;
            border-radius: 100%;
        }

        a {
            color: #646465;
        }
    }

    .todaytab {
        p {
            color: $headcolor;
            font-size: 14px;
        }
    }

    .todayicon {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .todayicon-box {
            width: 64px;
            height: 64px;
            background-color: #f6f6f6;
            border-radius: 50%;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;

            }

        }


    }
}

.section-todaybook2 {
    width: 100%;
    height: 434px;

    img {
        width: 25px;
    }

    h2 {
        font-weight: 500;
        color: #333;
    }

    line-height: 50px;

    .todaytop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .todaytop2 {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .todaybigbox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        :hover {
            cursor: pointer;
        }

        margin-top: 30px;

        .todaybox {
            width: 190px;
            height: 280px;

            img {
                width: 100%;
                height: 100%;
            }

            display: flex;
            flex-flow: column;

            h5 {
                height: 20px;
                font-size: 14.8px;
                font-weight: 500;
            }

            h6 {
                height: 20px;
                font-size: 13px;
                color: $headcolor;

            }



        }
    }
}

.section-bestbook {
    width: 100%;
    height: 500px;
    margin-top: 70px;

    .besthead {
        img {
            width: 25px;
        }

        display: flex;
        justify-content: space-between;
        color: #3d3c3f;

    }

    .besthead2 {
        display: flex;
        h2{
            font-weight: 500;
            color: #333;
        }
        .date {
            padding: 10px
        }
    }

    .besthead-li {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        @include categoryhead();

        .besthead-lii {
            @include categoryhead2();
        }

    }

    .bestbox {
        width: 100%;
        height: 320px;
        background-color: #4aaf70;

        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            padding-top: 0px;
            padding-bottom: 50px;


        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }

        .textbox {
            padding: 10px;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            h5 {
                color: #fff;
                font-size: 20px;
                margin-top: 10px;
                width: 160px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            h6 {
                color: #fff;
                font-size: 18px;
            }

            p {
                color: #fff;
                font-size: 12px;
                width: 160px;

            }
        }

        .swiper-slide img {
            display: block;
            width: 60%;
            height: 90%;
            text-align: center;
        }
    }


}

.section-promotion {
    width: 100%;
    height: 120px;

}



.section-popular {
    width: 100%;
    height: 520px;

    .hothead {
        display: flex;
        justify-content: space-between;
    }

    img {
        width: 25px;
    }

    h2 {
        font-weight: 500;
        color: #333;
    }

    .hothead-li {
        margin-top: 20px;
        @include categoryhead();

        a {
            font-size: 12px
        }

        ;

        .hot-lii {
            @include categoryhead2();
        }
    }

    .hot-slide {
        width: 100%;
        height: 400px;
        margin-top: 30px;

        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: 100%;
            padding: 5px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;

            display: flex;
            flex-flow: column;
            cursor: pointer;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 70%;
            border: solid 1px #b5b4b6;
            object-fit: cover;
        }

        


    }

    .hotbox {
        h5 {
            color: tomato;
            padding: 5px;
            font-weight: 400;
        }

        h6 {
            color: #30303099;
        }
    }
}

.naver {
    width: 100%;
    height: 120px;
    background-color: #222222;
    margin-top: 70px;

    img {
        width: 100%;
        height: 100%;
    }
}

.section-recent {
    width: 100%;
    height: 438px;
    margin-top: 70px;

    .recent-head {
        display: flex;
        align-items: center;

        h2 {
            font-weight: 500;
            margin-left: 10px;
            color: #333;
        }

        img {
            width: 25px;
        }
    }

    .recent-book {
        width: 100%;
        height: 300px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .recent-bookbox {
            width: 192px;
            height: 290px;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h5 {
            font-weight: 500;
            margin: 5px 0 5px 0;
        }

        h6 {
            color: $headcolor;
            font-size: 13px;
        }
    }
}



.section-up {
    width: 100%;
    height: 500px;
    margin-top: 70px;

    .up-head {
        display: flex;

        h2 {
            font-weight: 500;
            margin-left: 10px;
            color: #333;
        }

        img {
            width: 25px;
        }
    }

    .up-slide{
        width: 100%;
        height: 390px;
        margin-top: 30px;
        
    html,
    body {
      position: relative;
      height: 100%;
    }


    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      position: relative;
      h5 {
            font-weight: 500;
            margin: 5px 0 5px 0;
        }

        h6 {
            color: $headcolor;
            font-size: 13px;
        }
        .upoverlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #333;
            opacity: 0.7;
            color: #fff;
            transition: opacity 0.3s ease;

        }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 70%;
      object-fit: cover;
    }

    }
}

.section-MD {
    width: 100%;
    height: 430px;
    background-color: forestgreen;
}

.favorite-book {
    width: 100%;
    height: 490px;
    background-color: brown;
}

.section-goodreview {
    width: 100%;
    height: 572px;
    background-color: aquamarine;
}

.notice {
    width: 100%;
    height: 55px;
    background-color: #fff;
    padding-top: 15px;
    border-top: solid 2px #eaeded;
    overflow: hidden;

    .notice-center {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gong2 {
            width: 504px;
            height: 29px;
            overflow: hidden;

            a {
                color: $headcolor;
            }
        }

        .gong3 {
            a {
                color: $headcolor;
            }

            font-size: 20px;
        }

        .gong4 {
            width: 600px;
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
    }
}




footer {
    padding: 40px 0 38px;
    width: 100%;
    height: 463px;
    background-color: #f9f9f9;

    .footerhead {
        display: flex;
        justify-content: space-between;
        height: 209px;
    }

    .FAQ {
        h2 {
            font-size: 32px;
        }

        p {
            font-size: 13px;
            color: #30303099;
        }

        width: 330px;
        display: flex;
        flex-flow: column;
        gap: 5px;

        .footerflex {
            display: flex;
            gap: 30px;

            a {
                color: #30303099;
            }
        }

        .footerbox1 {
            margin-top: 10px;

            .footerbox {
                padding: 8px 16px 8px 20px;
                background-color: #eeeeee;
                font-size: 13px;

                .footerbox- {
                    color: $headcolor;
                    margin-left: 5px;
                    font-size: 17px;
                }
            }
        }
    }

    .footer-menu {
        display: flex;
        text-align: left;
        gap: 35px;
        height: 209px;

        li a {
            margin-bottom: 20px;
            font-size: 16px;
        }

        .footer-sub {
            li a {
                font-size: 13px;
                color: #303030CC;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        padding-top: 20px;
        border-top: 2px solid #eaeded;

        .footer-center {
            height: 160px;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            .footer-center-head {
                display: flex;
                color: #303030CC;
                font-weight: 500;

                li:not(:last-child)::after {
                    content: "|";
                    color: $headcolor;
                    margin: 10px;
                    font-size: 13px;
                    opacity: 0.7;
                }
            }

            .footer-center-middle {
                display: flex;
                flex-flow: row wrap;
                font-size: 13px;
                color: #303030CC;

                li:not(:last-child)::after {
                    content: "|";
                    color: $headcolor;
                    margin: 10px;
                    font-size: 13px;
                    opacity: 0.7;
                }
            }

            .footer-center-bottom {
                color: #303030CC;
                font-size: 13px;
            }
        }
    }
}