@charset "utf-8";

@import "reset";

$w: 1060px;
$headcolor: #80888a;

@mixin topnav {
    display: flex;

    li {
        font-size: 12px;
    }

    a {
        margin: 10px;
        color: $headcolor;
    }

    align-items: center;
    line-height: 39px
}

@mixin kkbook-style{
    display: flex;
        justify-content: space-around;
        width: 500px;
        height: 400px;
    font-size: 13px;      
    padding-top: 10px; 
    
    li{padding: 3px;}
    a{color:$headcolor;}
}

// 헤더 
header {
    .scroll {
        width: 14px;
        height: 15px;
        color: $headcolor;
        cursor: pointer;

        border-radius: 30px;

    }
}

.header_above {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f6f6f6;

    .inner {
        width: $w;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    ;



    .header-topleft>ul {
        @include topnav
    }

    ;

    .header-topright>ul {
        @include topnav
    }


}

// 헤더 인풋창쪽
.header_center {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.biginput {
    position: relative;
    padding-top: 40px;

    .search-icon {
        position: absolute;
        top: 53px;
        right: 13px;
        font-size: 19px;
        cursor: pointer;
    }

    .header-input {
        width: 581px;
        height: 44px;
        border: 1.5px solid #b5b4b6;
        border-radius: 8px;
        outline: none;
        padding-right: 40px;
        padding-left: 10px;

    }

    .search-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-ul {
            display: flex;

            a {
                font-size: 12px;
                color: $headcolor;
            }

            li:not(:last-child)::after {
                color: $headcolor;
                content: "|";
                opacity: 0.2;
                margin: 10px;
                font-size: 10px;
            }
        }


    }

}

// 도서 작은 api
.searchbook-container {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
    padding-top: 20px;
}

.searchbook {
    width: 220px;
    height: 95px;
    display: flex;
    justify-content: space-between;

    img {
        width: 65px;
        height: 95px;
    }

    .text-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 10px;
        width: 155px;

        p,
        h6 {
            margin: 0;
            font-weight: bold;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; // 한 줄만
            color: $headcolor;
        }
        h5{
            margin-left: 100px;
            color: $headcolor;
            background-color: #eaeded;
            width: 25px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 15px;
        }
    }

}











// 헤더 네비
.header_nav {
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    border-bottom: solid 1px #fff;

    img {
        width: 25px;
        height: 25px;
    }
}

.nav-category {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
    }

    .nav3 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 160px;
        height: 50px;
        cursor: pointer;
        li{margin: 10px;}
       
        
        &:hover{
            background-color: #333333;
            border-radius: 10px 10px 0 0;
            opacity: 0.7;
        }
    }

    .nav1 {
        width: 530px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav2 {
        width: 530px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            font-size: 14px;
        }

    }

    .nav2 li:not(:last-child)::after {
        content: "|";
        color: #fff;
        margin: 10px;
        font-size: 12px;

    }


}

















.slider {
    width: 100%;
    height: 450px;
    background-color: gold;
    
    .sub {
        
        height: 450px;
        background-color: #fff;
        display: flex;
        display: none;
        position: absolute;
        z-index: 1000;
        
    }

    .kbook {
        width: 160px;
        height: 450px;
        background-color: #f6f6f6;
        
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
        .kkbook{
            li{padding: 13px;}
            li:hover{background-color: #fff;}
            li:hover::after{
                content: "⟩";
                float: right;
                color: $headcolor;

            }
        }
        .survice{
            display: flex;
            background-color: #eaeded;
            width: 160px;
            height: 66.5px;
            padding: 13px;
            line-height: 40px;

        }
    }
    
    .kbook2 {
        display: flex;
        flex-flow: column;
        

        background-color: #fff;
        .kkbook2{
            @include kkbook-style();
            
        }
        .kkbook3{
            @include kkbook-style();
            display: none;
            justify-content: space-around;
            padding-right:100px
        }
        .kkbook4{
            @include kkbook-style();
            font-size: 12px;
            display: none
        }
    }
    .bigbook{
        width: 400px;
        height: auto;
        background-color: #fff;
       img{width: 50%; height: 50%; }
        display: flex;
        flex-flow: wrap;
        
    }
    .survice2{
        width: 100%;
        height: 70px;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f6f6f6;
        
        a{color:$headcolor;}
        li{font-size: 13px;}
        
    }
   

}

.section-shorts {
    width: 100%;
    height: 183px;
    background-color: bisque;
}

.section-todaybook {
    width: 100%;
    height: 442px;
    background-color: coral;
}

.section-bestbook {
    width: 100%;
    height: 434px;
    background-color: cadetblue;
}

.section-newbook {
    width: 100%;
    height: 554px;
    background-color: lightblue;
}

.section-promotion {
    width: 100%;
    height: 120px;
    background-color: navy;
}

.section-popular {
    width: 100%;
    height: 520px;
    background-color: gold;
}

.section-recent {
    width: 100%;
    height: 600px;
    background-color: cornflowerblue;
}

.section-MD {
    width: 100%;
    height: 430px;
    background-color: forestgreen;
}

.favorite-book {
    width: 100%;
    height: 490px;
    background-color: brown;
}

.section-goodreview {
    width: 100%;
    height: 572px;
    background-color: aquamarine;
}

.notice {
    width: 100%;
    height: 55px;
    background-color: peru;
}

footer {
    width: 100%;
    height: 463px;
    background-color: grey;
}