@charset "utf-8";

@import "reset";

$w: 1060px;
$headcolor: #80888a;

@mixin text-overflow{
            overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
        }
@mixin swiper-button-left {
    color: #80888a;
    border: 1px solid #ededed;
    top: 105px;
    left: 670px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 30px;
    opacity: 0.7;
}

@mixin swiper-button-right {
    color: #80888a;
    border: 1px solid #ededed;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 30px;
    opacity: 0.7;
    top: 105px;
    left: -20px;
    
    
}

@mixin text-button-open {
    color: #646465;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    float: right;
    cursor: pointer;
}

@mixin text-button-close {
    color: #646465;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    float: right;
    cursor: pointer;
    display: none;
}

@mixin gradient {
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

@mixin topnav {
    display: flex;

    li {
        font-size: 12px;
    }

    a {
        margin: 10px;
        color: $headcolor;
    }

    align-items: center;
    line-height: 39px
}

@mixin kkbook-style {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    font-size: 13px;
    padding-top: 10px;

    li {
        padding: 3px;
    }

    a {
        color: $headcolor;
    }
}

@mixin categoryhead {


    li {

        a {
            color: $headcolor;
        }

        font-size: 14px;
        padding: 12px;
        background-color: #f6f6f6;
        display: inline;
        border-radius: 20px;
        margin: 3px;
    }
}

@mixin categoryhead2 {
    background-color: #4aaf70;

    a {
        color: #fff;
    }
}

@mixin headh2 {
    display: flex;

    h2 {
        font-weight: 500;
        margin-left: 10px;
        color: #333;
    }

    img {
        width: 25px;
    }
}

// 헤더 
header {

    .scroll {
        width: 14px;
        height: 15px;
        color: $headcolor;
        cursor: pointer;

        border-radius: 30px;

    }
}

.header_above {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f6f6f6;

    .inner {
        width: $w;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    ;



    .header-topleft>ul {
        @include topnav
    }

    ;

    .header-topright>ul {
        @include topnav
    }


}

// 헤더 인풋창쪽
.header_center {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.biginput {
    position: relative;
    padding-top: 40px;

    input::placeholder {
        color: $headcolor;
        opacity: 0.8;
    }

    .search-icon {
        position: absolute;
        top: 53px;
        right: 13px;
        font-size: 19px;
        cursor: pointer;
    }

    .header-input {
        width: 581px;
        height: 44px;
        border: 1.5px solid #b5b4b6;
        border-radius: 8px;
        outline: none;
        padding-right: 40px;
        padding-left: 10px;

    }

    .search-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-ul {
            display: flex;

            a {
                font-size: 12px;
                color: $headcolor;
            }

            li:not(:last-child)::after {
                color: $headcolor;
                content: "|";
                opacity: 0.2;
                margin: 10px;
                font-size: 10px;
            }
        }


    }

}

// 도서 작은 api
.searchbook-container {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
    padding-top: 20px;
    cursor: pointer;
}

.searchbook {
    width: 220px;
    height: 95px;
    display: flex;
    justify-content: space-between;

    img {
        width: 65px;
        height: 95px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 10px;
        width: 155px;

        p,
        h6 {
            margin: 0;
            font-weight: bold;
            font-size: 12px;
            @include text-overflow();
            color: $headcolor;
        }

        h5 {
            margin-left: 100px;
            color: $headcolor;
            background-color: #eaeded;
            width: 25px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 15px;
        }

    }

}











// 헤더 네비

.header_nav {
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    border-bottom: solid 1px #fff;
    position: sticky;
    top: 0px;
    z-index: 1000;
    
    img {
        width: 25px;
        height: 25px;
    }
}

.nav-category {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    a {
        color: #fff;
    }

    .nav3 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 160px;
        height: 50px;
        cursor: pointer;

        li {
            margin: 10px;
        }


        &:hover {
            background-color: #333333;
            border-radius: 10px 10px 0 0;
            opacity: 0.7;
        }
    }

    .nav1 {
        width: 530px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav2 {
        width: 530px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            font-size: 14px;
        }

    }

    .nav2 li:not(:last-child)::after {
        content: "|";
        color: #fff;
        margin: 10px;
        font-size: 12px;

    }


}



.nav-bigsize {
    display: flex; // 또는 grid
    background-color: #fff;
    position: absolute;
    width: 100%;
    display: none;
    .sub {
        
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        height: 450px;

        .kbook-category-flex {
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            height: 100%;

            .kbook-category {
                height: 100%;
                background-color: #eaeded;

                li {
                    padding: 10px;

                    a {
                        color: $headcolor;
                    }
                }

                li:hover {
                    background-color: #fff;
                }

                li:hover::after {
                    content: "⟩";
                    float: right;
                    line-height: 20px;
                    color: $headcolor;
                }
            }


        }

        .survice {
            width: 160px;
            height: 80px;
            background-color: #fefefe;
            padding: 10px;
            line-height: 45px;
            a {
                color: $headcolor;
            }
        }



    }
}

.kbook-li-box {

    display: flex;
    
    .kbook-ul {

        li {
            padding: 10px 10px 0px 20px;
            font-size: 13px;
            margin-right: 30px;

        }

        a {
            color: $headcolor;
        }
    }


    .kbook-ul2 {
        display: none;

        li {
            padding: 10px 10px 0px 20px;
            font-size: 13px;
            margin-right: 30px;

        }

        a {
            color: $headcolor;
        }
    }

    .kbook-ul3 {
        display: none;
        margin-top: 10px;

        li {
            padding: 5px 10px 0px 20px;
            font-size: 12px;
            margin-right: 30px;
            color: $headcolor;
        }

        a {
            color: $headcolor;
        }
    }
}











.slider {
    width: 100%;
    height: 350px;
    background-color: cornflowerblue;
    position: relative;

    .swiper-pagination {
        color: #fff;
        background-color: #333;
        width: 90px;
        opacity: 0.7;
        position: absolute;
        top: 100;
        left: 900px;
        padding: 10px;
        border-radius: 20px;
    }

    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-button-next {
        color: $headcolor;
        border: 1px solid #ededed;
        left: 65.5%;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 30px;
        opacity: 0.7;
    }

    .swiper-button-prev {
        color: $headcolor;
        border: 1px solid #ededed;
        left: 31.3%;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 30px;
        opacity: 0.7;
    }

    .swiper {
        width: 100%;
        height: 500px;
        position: absolute;
    }

    .swiper-slide img {

        width: 100%;
        height: 430px;

        border-radius: 20px;
    }




    // }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 425px;
        border-radius: 20px;
        margin-top: 50px;

    }

    .append-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .append-buttons a {
        display: inline-block;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
    }







}

.bigbook {
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    img {
        width: 60%;
        height: 60%;
    }


}

.survice2 {
    width: 100%;
    height: 70px;
    background-color: #f6f6f6;
    line-height:60px;
    ul{
        display: flex;
        align-items: center;
    }

    a {
        color: $headcolor;
    }

    li {
        font-size: 13px;
        margin-left: 10px;
    }
    
}
.kbook-flex{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
}



.section-shorts {
    width: 100%;
    height: 0px;
    position: relative;

    :nth-of-type(1) {
        left: 150px;
        top: 180px;
    }

    :nth-of-type(2) {
        left: 150px;
        top: 380px;
    }

    .shortsbox {
        width: 130px;
        height: 184px;
        background-color: #fff;
        position: absolute;
        
        img {
            width: 72px;
            height: 104px;
            cursor: pointer;
        }

        text-align: center;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            background-color: tomato;
            color: #fff;
            border-radius: 5px;
            width: 80px;
            font-size: 11px;
        }

        h6 {
            color: $headcolor;
        }

        position: absolute;



    }

}


.sub-header-bar {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 10px;
    margin-top: 10px;

    p {
        display: inline;
        color: #b5b4b6;
        margin: 5px;
    }

    img {
        width: 15px;
        height: 15px;
    }

    .book {
        width: 100px;
        height: 28px;
        font-size: 12px;
        overflow: auto;
        border: 1px solid #ededed;
    }

    button {
        width: 100px;
        height: 28px;
        border: 1px solid #ededed;
        font-size: 12px;
        margin-left: 5px;
    }
}

.bookdetail-flex {
    display: flex;
}

.book-box {
    height: 932px;



    .book-thumbnail {
        width: 500px;
        height: calc(100% - 180px);
        background-color: #f8f8f880;
        padding: 50px;

        img {
            width: 400px;
            height: 600px;
        }
    }

    .book-inter {
        p{
            cursor: pointer;
        }
        p:not(:last-child)::after {
            content: '|';
            margin: 10px;
            color: #ededed
        }

        width: 500px;
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $headcolor;

        img {
            width: 15px;

        }
    }

    .book-tag {
        width: 500px;
        height: 129px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        border-top: solid 2px #ededed;

        h5 {
            padding-bottom: 10px;
            font-weight: 500;
        }

        p {
            display: inline;
            border: 1px #ededed solid;
            padding: 5px;
            font-size: 12px;
            border-radius: 20px;
            color: $headcolor;
            cursor: pointer;
        }
    }
}

.book-infor {
    .price {
        width: 500px;
        height: 238px;
        padding: 15px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;

        .book-title {
            h2 {
                font-size: 28px;
                color: #3d3c3f;
            }
        }

        .today-best {
            p {
                display: inline;
                border: #4aaf70 solid 1px;
                font-size: 12px;

                a {
                    color: #4aaf70;
                    padding: 10px;
                }
            }

            .mini-text {
                border: #b5b4b6 solid 1px;

                a {
                    color: #b5b4b6;
                }
            }
        }

        .book-ul {

            display: flex;

            li {
                color: $headcolor;
                font-size: 13px;
            }

            li:not(:last-child)::after {
                content: '|';
                color: #dddddd;
                margin: 5px;
            }

        }

        .date-time {
            color: $headcolor;
            font-size: 13px;
        }

        .rivew-flex {
            display: flex;

            h5 {
                color: $headcolor;
            }

            .rivew {
                color: $headcolor;
                border-bottom: 1px solid #80888a;
                font-size: 12px;
                margin-left: 10px;
            }
        }

        .sale-price {
            display: flex;
            align-items: center;
            border-bottom: 1px #333 solid;
            padding-bottom: 10px;
            .price10{
                color: #EE293b;
                font-size: 28px;
                font-weight: 700;
                padding-bottom: 10px;
            }
            h2 {
                color: #EE293b;
                font-size: 32px;
            }

            del {
                color: $headcolor;
                font-size: 14px;
                margin: 10px;
            }

            p {
                color: #EE293b;

            }

            .sale {
                color: #EE293b;
                font-size: 14px;
            }
        }
    }


    .delivery {
        width: 500px;
        height: 204px;
        display: flex;
        flex-flow: column;

        padding: 15px;

        .delivery-text {
            display: flex;

            .delivery-text2 {
                width: 120px;
                height: 117px;

                display: flex;
                flex-flow: column;

                img {
                    width: 25px;
                    cursor: pointer;
                }

                .delivery-minitext {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-top: 2px;

                    p {
                        color: $headcolor;
                        font-size: 13px;
                    }

                    img {
                        margin-left: 5px;
                    }
                }
            }

            .delivery-text3 {
                width: 400px;
                height: 117px;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;

                p {
                    color: $headcolor;
                    font-size: 13px;

                }

                .delivery-text3-minitext {
                    border-top: #ededed 1px solid;
                    padding-top: 10px;

                    .delivery-span {
                        border: #2bc48c solid 1px;
                        color: #2bc48c;
                        padding: 0px 8px;
                        font-size: 12px;
                        margin-right: 5px;
                        width: 62px;
                    }

                    .delivery-span2 {
                        color: #4aaf70;
                    }
                }

                .delivery-text3-minitext2 {
                    a {
                        color: #4aaf70;
                        font-size: 11px;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .delivery-span3 {
                        border: #fb3030 solid 1px;
                        color: #fb3030;
                        padding: 0px 8px;
                        font-size: 12px;
                        margin-right: 5px;
                        width: 62px;
                    }
                }
            }
        }
    }



    .pay {
        width: 500px;
        height: 293px;
        padding: 15px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        p {
            color: #a5a5a5;
            font-size: 12px;
            margin-top: 5px;
        }

        .pay-button {

            height: 60px;
            background-color: #f8f8f8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-top: solid 1px #333;

            .button-price {
                color: #EE293b;
                font-size: 20px;
                font-weight: 700;
            }

            .button-flex {
                display: flex;

            }

            button {
                width: 40px;
                height: 30px;
                color: $headcolor;
                background-color: #fff;
                border: #ededed 1px solid;
                cursor: pointer;
                font-size: 24px;
            }

            input {
                width: 40px;
                height: 30px;
                text-align: center;
                border: #ededed 1px solid;

            }
        }

        .pay-button2 {
            display: flex;
            justify-content: space-between;

            .bakes {
                font-size: 18px;
                color: #646465;
                background-color: #ffffff;
                border: 1px #dddddd solid;
                border-radius: 5px;
            }

            .buy {
                font-size: 18px;
                color: #fff;
                background-color: #4aaf70;
                border: none;
                font-weight: 550;
                border-radius: 5px;
            }

            .nowdream {
                font-size: 18px;
                color: #b21d27;
                background-color: #ffffff;
                border: 1px solid #b21d27;
                font-weight: 700;
                border-radius: 5px;
            }

            button {
                width: 168px;
                height: 47px;
                margin: 5px;
                cursor: pointer;
            }
        }

        .delivery-cancel {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            justify-content: flex-end;
            border-top: 1px solid #ededed;

            a {
                color: $headcolor;
            }
        }
    }




}

.zerobar {
    width: 100%;
    height: 50px;
}

.book-tab {
    background-color: #ededed;
    position: sticky;
    top: 49px;
    z-index: 110;
}

.book-tab-box {
    height: 48px;

    .active {
        background-color: #4aaf70;

        a {
            color: #fff;
            font-weight: bold;
        }
    }

    ul {
        display: flex;
        align-items: center;

        text-align: center;

        li {
            width: 200px;
            line-height: 48px;

            a {
                color: $headcolor;
            }
        }
    }
}

.long-infor {
    width: 100%;
    

    .container {
        display: flex;

        .infor {
            width: 720px;


            h2 {
                padding: 50px 0px;
                color: #333333;
            }

            #book-table {
                border-collapse: collapse;

                th {
                    background-color: #eeeeee80;
                    color: $headcolor;
                    padding: 6px 20px;
                    font-weight: 500;
                    border: 1px solid #ededed;

                }

                td {
                    color: $headcolor;
                    padding: 6px 20px;
                    border-top: 1px solid #ededed;
                    border-bottom: 1px solid #ededed;
                    font-weight: 400;
                    width: 75%;
                }
            }

            .event {
                width: 100%;
                height: 350px;

                .swiper-button-next {
                    color: #80888a;
                    border: 1px solid #ededed;
                    top: 105px;
                    background-color: #ffffff;
                    border-radius: 50%;
                    padding: 30px;
                    opacity: 0.7;
                }

                .swiper-button-prev {
                    color: #80888a;
                    border: 1px solid #ededed;
                    background-color: #ffffff;
                    border-radius: 50%;
                    padding: 30px;
                    opacity: 0.7;
                    top: 105px;
                    left: 0px;
                }

                .slide-text {
                    .slide-text1 {
                        color: #fff;
                        background-color: #0067cb;
                        width: 55px;
                        font-size: 12px;
                        text-align: center;
                        padding: 5px 10px;
                    }

                    .slide-text2 {
                        font-size: 15px;
                        color: #3d3c3f;
                    }

                    .slide-text3 {
                        font-size: 13px;
                        color: #4aaf70;
                    }
                }



                html,
                body {
                    position: relative;
                    height: 100%;
                }

                body {
                    background: #eee;
                    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    color: #000;
                    margin: 0;
                    padding: 0;
                }

                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-slide {

                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;

                    height: 300px;

                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    cursor: pointer;
                }

                .swiper {
                    margin-left: auto;
                    margin-right: auto;
                }
            }





        }

        .book-txt {
            margin-top: 150px;
            border-top: 1px solid #ededed;
            margin-bottom: 100px;

            .gradient {
                @include gradient();
            }

            h3 {
                color: #3d3c3f;
                font-size: 14px;
            }

            p {
                color: $headcolor;
                font-size: 14px;
            }

            .scroll-box {
                display: none;
            }

            .text-button {
                @include text-button-open()
            }

            .text-button1 {
                @include text-button-close()
            }
        }

        .book-txt2 {
            border-top: 1px solid #ededed;
            margin-top: 70px;

            .gradient2 {
                @include gradient();
            }

            .scroll-box1 {
                display: none;
                margin-bottom: 30px;
            }

            p {
                color: $headcolor;
                font-size: 13px;
            }

            .text-button2 {
                @include text-button-open()
            }

            .text-button3 {
                @include text-button-close()
            }
        }


        .book-txt3 {
            border-top: 1px solid #ededed;
            margin-top: 70px;

            .gradient3 {
                @include gradient();
            }

            .scroll-box2 {
                display: none;
                margin-bottom: 30px;
            }

            p {
                color: $headcolor;
                font-size: 14px;
            }

            .text-button4 {
                @include text-button-open()
            }

            .text-button5 {
                @include text-button-close()
            }
        }

        .book-category {
            margin-top: 70px;
            border-top: 1px solid #ededed;

            .book-category-text {
                p {
                    color: $headcolor;
                    font-size: 14px;
                }
            }
        }

        .book-txt4 {
            border-top: 1px solid #ededed;
            margin-top: 70px;

            img {
                width: 100%;
                height: auto;
            }

            .gradient4 {
                @include gradient();

            }

            .scroll-box3 {
                display: none;
                margin-bottom: 30px;
            }

            p {
                color: $headcolor;
                font-size: 14px;
            }

            .text-button6 {
                @include text-button-open()
            }

            .text-button7 {
                @include text-button-close()
            }
        }

        .authors {
            margin-top: 70px;
            border-top: 1px solid #ededed;

            .authors-text {
                p {
                    margin-left: 20px;
                }

                img {
                    width: 118px;
                    border-radius: 50%;
                }

                span {
                    font-weight: 600;
                    color: #333;
                }

                display: flex;
                align-items: center;

            }
        }

        .book-rivew {
            margin-top: 100px;

            h2 {
                font-size: 22px;
                font-weight: 800;
                padding: 5px 0px;
            }

            .book-rivew-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: $headcolor;
                    font-size: 13px;
                    padding-top: 20px;
                }

                button {
                    background-color: #4aaf70;
                    color: #fff;
                    border: none;
                    padding: 10px 25px;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .book-rivew-textbox {
                width: 100%;
                height: 115px;
                border: 1px solid #a5a5a5;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                margin-top: 15px;

                p {
                    font-size: 14px;
                    color: #645465;
                }

                span {
                    font-size: 12px;
                    color: #4aaf70;
                    font-weight: 500;
                }
            }
        }

        .together {
            width: 100%;


        }

        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .mySwiper10 {
            width: 100%;
            max-width: 720px;
            /* or 100% of parent */
            height: 300px;
            /* 반드시 높이 필요함 */
            margin: 0 auto;
            border: 1px solid #ededed;
            padding: 20px;
        }

        .swiper {
            width: 100%;
            height: 100%;

        }

        .mySwiper10 .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: px;
            flex-shrink: 0;

            h6 {
                font-size: 14px;
                color: #3d3c3f;
                @include text-overflow();
                width: 150px;
                font-weight: 500;
                text-align: left;
                margin-top: 10px;
            }

            p {
                color: $headcolor;
                font-size: 12px;
            }
        }

        .swiper-slide img {
            display: block;
            width: 140px;
            height: 210px;
            object-fit: contain;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .swiper-button-next {
            @include swiper-button-left();
        }

        .swiper-button-prev {
            @include swiper-button-right();
        }

        .together2{
            html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .mySwiper11 {
            width: 100%;
            max-width: 720px;
            /* or 100% of parent */
            height: 300px;
            /* 반드시 높이 필요함 */
            margin: 0 auto;
            border: 1px solid #ededed;
            padding: 20px;
        }

        .swiper {
            width: 100%;
            height: 100%;

        }

        .mySwiper11 .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: px;
            flex-shrink: 0;

            h6 {
                font-size: 14px;
                color: #3d3c3f;
                @include text-overflow();
                width: 150px;
                font-weight: 500;
                text-align: left;
                margin-top: 10px;
            }

            p {
                color: $headcolor;
                font-size: 12px;
            }
        }
        }
        .together3{
            html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .mySwiper12 {
            width: 100%;
            max-width: 720px;
            /* or 100% of parent */
            height: 300px;
            /* 반드시 높이 필요함 */
            margin: 0 auto;
            border: 1px solid #ededed;
            padding: 20px;
        }

        .swiper {
            width: 100%;
            height: 100%;

        }

        .mySwiper12 .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: px;
            flex-shrink: 0;

            h6 {
                font-size: 14px;
                color: #3d3c3f;
                @include text-overflow();
                width: 150px;
                font-weight: 500;
                text-align: left;
                margin-top: 10px;
            }

            p {
                color: $headcolor;
                font-size: 12px;
            }
        }

        }

        .together4{
               html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .mySwiper13 {
            width: 100%;
            max-width: 720px;
            /* or 100% of parent */
            height: 300px;
            /* 반드시 높이 필요함 */
            margin: 0 auto;
            border: 1px solid #ededed;
            padding: 20px;
        }

        .swiper {
            width: 100%;
            height: 100%;

        }

        .mySwiper13 .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: px;
            flex-shrink: 0;

            h6 {
                font-size: 14px;
                color: #3d3c3f;
                @include text-overflow();
                width: 150px;
                font-weight: 500;
                text-align: left;
                margin-top: 10px;
            }

            p {
                color: $headcolor;
                font-size: 12px;
            }
        }

        
        }


        .exchange{
            width: 100%;
            margin-bottom: 70px;
            .ex-table{
                border-collapse: collapse;
            th{
                width: 165px;
                background-color: #eeeeee80;
                border: 1px solid #ededed;
                font-size: 13.5px;
                color: #222222;
                font-weight: 500;
                padding: 30px;
            }
            td{
                width: 555px;
                padding: 10px;
                border-top: 1px solid #ededed;
                border-bottom: 1px solid #ededed;
            }
            p{
                font-size: 13px;
                color: $headcolor;
                margin: 10px;
            }
            .ex-text{
                color: #0067cb;
                font-weight: bold;
            }
            }
            
        }


#tab1, #tab2, #tab3, #tab4{
    scroll-margin-top: 97px;
}


































        .payment {
            width: 300px;
            padding: 20px;
            padding-bottom: 70px;

            .payment-main {
                width: 280px;
                height: 555px;
                background-color: #fff;
                border: 1px solid #b5b4b6;
                padding: 20px;
                position: sticky;
                top: 100px;
                
                .payment-thumbnail {
                    width: 100%;
                    height: 112px;

                    display: flex;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #333;

                    h4 {
                        margin-left: 20px;
                        font-weight: 550;
                    }
                }

                .payment-buybutton {
                    margin-top: 30px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #ededed;

                    .bakes {
                        font-size: 15px;
                        color: #646465;
                        background-color: #ffffff;
                        border: 1px #dddddd solid;
                        border-radius: 5px;
                    }

                    .buy {
                        font-size: 15px;
                        color: #fff;
                        background-color: #4aaf70;
                        border: none;
                        font-weight: 550;
                        border-radius: 5px;
                    }

                    .nowdream {
                        font-size: 15px;
                        color: #b21d27;
                        background-color: #ffffff;
                        border: 1px solid #b21d27;
                        font-weight: 700;
                        border-radius: 5px;
                    }

                    button {
                        width: 238px;
                        height: 40px;
                        margin: 5px;
                        cursor: pointer;
                    }
                }

                .payment-p {
                    font-size: 12px;
                    color: $headcolor;
                    margin-top: 10px;
                }

                .payment-button {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    border-bottom: 1px solid #ededed;

                    .button-flex1 {
                        display: flex;
                    }

                    button {
                        width: 30px;
                        height: 30px;
                        color: $headcolor;
                        background-color: #fff;
                        border: #ededed 1px solid;
                        cursor: pointer;
                        font-size: 24px;
                    }

                    input {
                        width: 40px;
                        height: 30px;
                        text-align: center;
                        border: #ededed 1px solid;

                    }

                    .button-price1 {
                        color: #EE293b;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }

            }

            .naver-pay {
                border-top: 2px solid #333;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;

                .naver-box {
                    width: 79px;
                    height: 30px;
                    font-size: 9px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;

                    span {
                        font-family: 'Pretendard', sans-serif;
                        font-weight: 900;
                        font-size: 13px;
                        color: #03C75A;
                    }


                }

                height: 100px;

                img {
                    width: 79px;
                    height: 36px;
                    object-fit: cover;
                    border: 1px #03C75A solid;
                }
            }

            .naver-box2 {
                width: 117px;
                height: 37px;
                border: 1px solid #03C75A;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                span {
                    font-family: 'Pretendard', sans-serif;
                    font-weight: 900;
                    font-size: 10px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    padding: 0px 4px;
                    color: #fff;
                    background-color: #000;
                }

                p {
                    font-family: 'Pretendard', sans-serif;
                    font-weight: 700;
                    font-size: 13px;
                }

            }

            button {
                width: 37px;
                height: 37px;

                color: #3d3c3f;
                background-color: #fff;
                border: #a5a5a5 1px solid;
                cursor: pointer;

            }
        }
    }
}














.notice {
    width: 100%;
    height: 55px;
    background-color: #fff;
    padding-top: 10px;
    border-top: solid 2px #eaeded;
    overflow: hidden;

    .notice-center {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gong2 {
            width: 504px;
            height: 29px;
            overflow: hidden;

            a {
                color: $headcolor;
            }
        }

        .gong3 {
            a {
                color: $headcolor;
            }

            font-size: 20px;
        }

        .gong4 {
            width: 600px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            position: relative;
        }
    }
}




footer {
    padding: 40px 0 38px;
    width: 100%;
    height: 463px;
    background-color: #f9f9f9;

    .footerhead {
        display: flex;
        justify-content: space-between;
        height: 209px;
    }

    .FAQ {
        h2 {
            font-size: 32px;
        }

        p {
            font-size: 13px;
            color: #30303099;
        }

        width: 330px;
        display: flex;
        flex-flow: column;
        gap: 5px;

        .footerflex {
            display: flex;
            gap: 30px;

            a {
                color: #30303099;
            }
        }

        .footerbox1 {
            margin-top: 10px;

            .footerbox {
                padding: 8px 16px 8px 20px;
                background-color: #eeeeee;
                font-size: 13px;

                .footerbox- {
                    color: $headcolor;
                    margin-left: 5px;
                    font-size: 17px;
                }
            }
        }
    }

    .footer-menu {
        display: flex;
        text-align: left;
        gap: 35px;
        height: 209px;

        li a {
            margin-bottom: 20px;
            font-size: 16px;
        }

        .footer-sub {
            li a {
                font-size: 13px;
                color: #303030CC;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        padding-top: 20px;
        border-top: 2px solid #eaeded;

        .footer-center {
            height: 160px;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            .footer-center-head {
                display: flex;
                color: #303030CC;
                font-weight: 500;

                li:not(:last-child)::after {
                    content: "|";
                    color: $headcolor;
                    margin: 10px;
                    font-size: 13px;
                    opacity: 0.7;
                }
            }

            .footer-center-middle {
                display: flex;
                flex-flow: row wrap;
                font-size: 13px;
                color: #303030CC;

                li:not(:last-child)::after {
                    content: "|";
                    color: $headcolor;
                    margin: 10px;
                    font-size: 13px;
                    opacity: 0.7;
                }
            }

            .footer-center-bottom {
                color: #303030CC;
                font-size: 13px;
            }
        }
    }
}